DEBUG=False
PROJECT_NAME=user-purchase-service
POSTGRES_SCHEMA=content
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=graduate
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=example
APP_HOST=127.0.0.1
APP_PORT=5000
