REDIS_HOST=redis
REDIS_PORT=6379
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
BASE_API=http://asyncapi_service:8000
MOVIES_ELASTICSEARCH_INDEX=movies
GENRES_ELASTICSEARCH_INDEX=genres
PERSONS_ELASTICSEARCH_INDEX=persons